@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page {
  font-family: "Oswald", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  height: 100%;
}
.page__body {
  min-height: 100%;
  min-width: 320px;
  margin: 0;
  color: #000000;
  background-color: #ffffff;
}
.main-header {
  background-color: #ffffff;
}
.main-header__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.main-header__wrapper-small {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-header__toggle {
  width: 16px;
  height: 24px;
  background-image: url("../img/index/svg/header-toggle.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
}
.main-header__logo {
  height: 38px;
}
.main-header__logo-name {
  height: 18px;
}
@media (min-width: 768px) {
  .main-header__wrapper {
    width: 708px;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
  }
  .main-header__toggle {
    display: none;
  }
  .main-header__nav {
    display: flex;
    flex-wrap: wrap;
    width: 440px;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .main-header__wrapper {
    width: 1220px;
    margin: 0 auto;
  }
  .main-header__toggle {
    display: none;
  }
  .main-header__nav {
    display: flex;
    flex-wrap: wrap;
    width: 478px;
    justify-content: space-between;
  }
}
.main-nav {
  background-color: #ffffff;
}
.site-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.list-item {
  background-color: #ffffff;
}
.list-item__link {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
}
.main-container {
  position: relative;
  background-color: #ffffff;
  color: #000000;
}
.main-container__title-wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}
.main-container__title {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}
@media (min-width: 768px) {
  .main-container__title-wrapper {
    width: 708px;
    padding: 0 30px;
  }
  .main-container__title-wrapper--form {
    width: 630px;
    padding: 0 70px;
  }
}
@media (min-width: 1440px) {
  .main-container__title-wrapper {
    width: 1220px;
  }
  .main-container__section-wrapper {
    width: 1220px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
}
.promo {
  background-color: #ffffff;
}
.promo__wrapper {
  width: 320px;
  margin: 0 auto;
}
.promo__wrapper-title {
  min-height: 302px;
  position: relative;
  background-image: url("../img/index/background-promo.png");
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}
.promo__wrapper-title::after {
  position: absolute;
  content: "";
  background-color: rgba(104, 183, 56, 0.85);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.promo__wrapper-product {
  padding: 0 20px;
}
.promo__title {
  position: relative;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  z-index: 2;
}
.promo__slogan {
  position: relative;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 2;
}
.promo__product {
  object-fit: contain;
}
@media (min-width: 768px) {
  .promo__wrapper {
    width: 768px;
  }
  .promo__wrapper-title {
    background-image: none;
    min-height: auto;
    padding: 0 117px;
  }
  .promo__wrapper-title::after {
    display: none;
  }
  .promo__title {
    color: #000000;
    background-color: #ffffff;
  }
  .promo__slogan {
    color: #000000;
    background-color: #ffffff;
  }
  .promo__wrapper-product {
    position: relative;
    height: 609px;
    padding: 0 30px;
  }
  .promo__wrapper-product::before {
    position: absolute;
    width: 708px;
    height: 609px;
    content: "";
    background-image: url("../img/index/product-tablet.png");
    background-position: center;
    background-repeat: no-repeat;
  }
  .promo__product {
    display: none;
  }
  .promo__link {
    position: absolute;
    top: 29px;
    left: 91px;
    z-index: 1;
  }
}
@media (min-width: 1440px) {
  .promo__wrapper {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }
  .promo__wrapper-title {
    width: 720px;
    box-sizing: border-box;
    padding: 0 80px;
  }
  .promo__wrapper-product {
    width: 720px;
    height: 694px;
    padding: 0;
    background-image: url("../img/index/bg-promo-desktop.png");
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
  }
  .promo__wrapper-product::after {
    position: absolute;
    content: "";
    background-color: rgba(104, 183, 56, 0.85);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  .promo__wrapper-product::before {
    position: absolute;
    width: 552px;
    height: 499px;
    content: "";
    background-image: url("../img/index/product-desktop.png");
    background-position: center;
    background-repeat: no-repeat;
    top: 141px;
    left: -162px;
    z-index: 2;
  }
  .promo__product {
    display: none;
  }
  .promo__link {
    position: absolute;
    top: 455px;
    left: -530px;
  }
}
.button {
  display: flex;
  text-transform: uppercase;
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  padding: 0;
  font-family: "Oswald", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #68b738;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  border: none;
}
.button--main {
  font-size: 16px;
  line-height: 20px;
}
.button--disabled {
  font-size: 16px;
  line-height: 20px;
  color: #f2f2f2;
  background-color: #eaeaea;
}
.button--transparent {
  width: 50px;
  min-height: 30px;
  background-color: transparent;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.info {
  background-color: #ffffff;
}
.info__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}
.info__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.info__item {
  min-height: 266px;
  color: #000000;
  background-color: #f2f2f2;
}
.info__item:not(:last-child) {
  margin-bottom: 20px;
}
.info__title {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}
.info__text {
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  background-color: #f2f2f2;
}
.info__link {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .info__wrapper {
    width: 708px;
    padding: 0 30px;
  }
  .info__item {
    min-height: 372px;
  }
}
@media (min-width: 1440px) {
  .info__wrapper {
    width: 1220px;
    padding: 0 110px;
    margin: 0 auto;
  }
  .info__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .info__item {
    width: 570px;
    min-height: 374px;
  }
  .info__item:not(:last-child) {
    margin-bottom: 0;
  }
}
.advantages {
  background-color: #ffffff;
}
.advantages__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}
.advantages__title {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}
.advantages__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.advantages__item {
  padding-left: 80px;
}
@media (min-width: 768px) {
  .advantages__wrapper {
    width: 628px;
    padding-left: 30px;
    padding-right: 110px;
  }
  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 134px;
    row-gap: 37px;
  }
  .advantages__item {
    min-height: 280px;
    box-sizing: border-box;
    padding-top: 151px;
    padding-left: 0;
  }
}
@media (min-width: 1440px) {
  .advantages__wrapper {
    width: 1220px;
    padding: 0 110px;
    margin: 0 auto;
  }
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 0;
    row-gap: 0;
  }
  .advantages__item {
    width: 250px;
  }
}
.benefit__text {
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  background-color: #ffffff;
}
.statistics {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #000000;
  background-color: #eaeaea;
}
.statistics__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}
.statistics__title {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
}
@media (min-width: 768px) {
  .statistics {
    background-color: #ffffff;
    color: #000000;
  }
  .statistics__wrapper {
    position: relative;
    width: 708px;
    padding: 0 30px;
  }
  .statistics__wrapper::after {
    content: "";
    position: absolute;
    top: 453px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #eaeaea;
    height: 462px;
    z-index: 0;
  }
}
@media (min-width: 1440px) {
  .statistics {
    width: 1440px;
    margin: 0 auto;
    background-color: #ffffff;
  }
  .statistics__wrapper {
    width: 1220px;
    padding: 0 110px;
  }
  .statistics__wrapper-content {
    display: flex;
    justify-content: space-between;
  }
  .statistics__info-wrapper {
    position: relative;
    width: 436px;
    z-index: 1;
  }
  .statistics__content {
    width: 591px;
    height: 576px;
  }
  .statistics__wrapper::after {
    top: 133px;
  }
}
.statistic__description {
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
.infographic {
  width: 280px;
  margin: 0 auto;
}
.infographic__indicator {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}
.infographic__indicator-description {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
}
.content-photo__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .content-photo {
    position: relative;
    z-index: 1;
  }
  .content-photo__list {
    display: flex;
  }
  .content-photo__item {
    position: relative;
    width: 296px;
    height: 511px;
  }
  .content-photo__item--before {
    background-image: url("../img/index/slider-cat-fat.png");
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
  }
  .content-photo__item--after {
    background-image: url("../img/index/slider-cat-skinny.png");
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
  }
}
.contacts {
  background-color: #ffffff;
}
.contacts--dark {
  background-color: #f2f2f2;
}
.contacts__wrapper {
  width: 320px;
  margin: 0 auto;
}
.contacts__adress-wrapper {
  width: 280px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}
.contacts__offer {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}
.contacts__adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}
.contacts__location {
  width: 320px;
  position: relative;
}
.contacts__location::after {
  content: url("../img/index/map-pin.png");
  position: absolute;
  top: 139px;
  left: 134px;
}
@media (min-width: 768px) {
  .contacts__wrapper {
    width: 768px;
  }
  .contacts__adress-wrapper {
    width: 628px;
    padding: 0 70px;
  }
  .contacts__location {
    width: 768px;
    height: 400px;
    background-image: url("../img/index/map-tablet.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }
  .contacts__location::after {
    content: url("../img/index/svg/map-pin-big.svg");
    top: 146px;
    left: 333px;
  }
  .contacts__map {
    display: none;
  }
}
@media (min-width: 1440px) {
  .contacts__wrapper {
    width: 1440px;
    height: 400px;
    margin: 0 auto;
    position: relative;
  }
  .contacts__adress-wrapper {
    position: absolute;
    width: 405px;
    padding: 56px 80px;
    background-color: #ffffff;
    z-index: 1;
    top: 95px;
    left: 110px;
  }
  .contacts__location {
    width: 1440px;
    height: 400px;
    background-image: url("../img/index/map-desktop.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }
  .contacts__location::after {
    top: 131px;
    left: 908px;
  }
  .contacts__map {
    display: none;
  }
}
.location {
  position: relative;
  width: 320px;
}
.location::after {
  content: url("../img/index/map-pin.png");
  position: absolute;
  top: 139px;
  left: 134px;
}
.main-footer {
  color: #000000;
  background-color: #f2f2f2;
}
.main-footer__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}
.main-footer__logo-academy {
  display: flex;
  justify-content: space-between;
}
.main-footer__logo-academy-name {
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}
@media (min-width: 768px) {
  .main-footer__wrapper {
    width: 708px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .main-footer__wrapper {
    width: 1220px;
    margin: 0 auto;
  }
}
.social__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.social__link {
  text-decoration: none;
}
.products {
  background-color: #ffffff;
}
.products__wrapper {
  width: 320px;
  margin: 0 auto;
}
.products__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.products__item {
  min-height: 190px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 20px 15px;
}
.products__item--more {
  min-height: 158px;
  padding-top: 53px;
  padding-bottom: 0;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .products__wrapper {
    width: 708px;
    padding: 0 30px;
  }
  .products__list {
    display: grid;
    grid-template-columns: 324px 324px;
    column-gap: 60px;
    row-gap: 142px;
  }
  .products__item {
    position: relative;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 430px;
    padding: 0 36px 39px;
    margin-top: 80px;
    background-color: #f2f2f2;
  }
  .products__item--more {
    align-items: center;
  }
  .products__item:last-child {
    background-color: #ffffff;
  }
}
@media (min-width: 1440px) {
  .products__wrapper {
    width: 1220px;
  }
  .products__list {
    display: grid;
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
    row-gap: 144px;
  }
  .products__item {
    min-height: 431px;
    padding: 0 30px 40px 35px;
  }
}
.product__title {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
}
.product__title--more {
  color: #111111;
}
.product__characteristic {
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
.product__value {
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}
.product__link {
  min-height: 40px;
  width: 100%;
}
.product__photo {
  width: 140px;
  height: 112px;
  object-fit: contain;
}
.product__wrapper-text {
  width: 50%;
}
.product__stats-item {
  display: flex;
  justify-content: space-between;
}
.product__description {
  margin: 0;
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
@media (min-width: 768px) {
  .product__wrapper {
    position: relative;
    display: block;
    width: 250px;
    padding: 0 37px;
    z-index: 1;
  }
  .product__photo {
    margin-top: -73px;
  }
  .product__wrapper-text {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
@media (min-width: 1440px) {
  .product__wrapper {
    width: 180px;
    padding-left: 35px;
    padding-right: 30px;
  }
  .product__photo {
    margin-top: -80px;
  }
}
.content-all {
  width: 320px;
}
.content-all__wrapper {
  width: 280px;
  margin: 0 auto;
  background-image: url("../img/catalog/show-all.png");
  background-position: top center;
  background-repeat: no-repeat;
}
.content-all__title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
  background-color: #ffffff;
}
.content-all__description {
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
  background-color: #ffffff;
}
.extra-products {
  color: #444444;
  background-color: #ffffff;
}
.extra-products__title {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
  margin-bottom: 35px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
}
.extra-products__list {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
  list-style-type: none;
}
@media (min-width: 768px) {
  .extra-products__list {
    width: 708px;
    padding: 0 30px;
  }
  .extra-products__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 632px;
    padding: 0 38px;
  }
}
@media (min-width: 1440px) {
  .extra-products__list {
    width: 896px;
    padding: 0;
  }
  .extra-products__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 894px;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 17px;
  }
}
.extra-product__title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}
.extra-product__stats-item {
  display: flex;
  justify-content: space-between;
}
.extra-product__characteristic {
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}
.extra-product__value {
  margin: 0;
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}
.extra-product__link {
  min-height: 40px;
  width: 100%;
}
@media (min-width: 768px) {
  .extra-product__title {
    margin-right: auto;
  }
  .extra-product__value {
    margin-left: 50px;
  }
}
@media (min-width: 1440px) {
  .extra-product__link {
    margin-left: 38px;
    max-width: 244px;
  }
}
.offer {
  background-color: #ffffff;
}
.offer__wrapper {
  position: relative;
  width: 280px;
  margin: 0 auto;
  height: 290px;
  background-image: url("../img/catalog/offer.png");
  background-position: center;
  background-repeat: no-repeat;
}
.offer__wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(104, 183, 56, 0.85);
}
.offer__description {
  position: absolute;
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  z-index: 1;
}
@media (min-width: 768px) {
  .offer__wrapper {
    width: 708px;
    height: 200px;
    margin: 0 auto;
    background-image: url("../img/catalog/bg-offer-tablet.png");
  }
}
@media (min-width: 1440px) {
  .offer__wrapper {
    width: 245px;
    height: 289px;
    padding: 0;
    background-image: url("../img/catalog/bg-offer-desktop.png");
  }
}
.meal {
  font-family: "Oswald", "Tahoma", sans-serif;
}
.meal__wrapper-description {
  width: 280px;
  padding: 0 20px;
}
.meal__description {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
.meal__form {
  width: 320px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .meal__description {
    width: 630px;
    padding: 0 70px;
  }
  .meal__form {
    width: 630px;
    padding: 0 70px;
  }
}
@media (min-width: 1440px) {
  .meal__description {
    width: 1220px;
  }
  .meal__form {
    width: 1220px;
  }
}
.form__input {
  width: 280px;
  padding: 0 20px;
  margin: 0;
  border: none;
}
.form__input--contact-user,
.form__input--comment-user,
.form__input--add-user {
  border-top: 2px solid #68b738;
}
.form__feildset-title {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 35px;
}
.form__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.form__link-wrapper {
  width: 280px;
  padding: 0 20px;
}
.form__link {
  width: 280px;
  min-height: 40px;
}
.form__text-info {
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000000;
}
.form__item {
  width: 280px;
  height: 150px;
}
.form__item-description {
  padding: 10px 15px;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}
@media (min-width: 768px) {
  .form__input {
    width: 630px;
    padding: 0;
  }
  .form__list-wrapper {
    width: 565px;
  }
  .form__list--add {
    display: grid;
    grid-template-columns: 282px 282px;
  }
  .form__link-wrapper {
    width: 565px;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  .form__link {
    min-height: 52px;
  }
  .form__item {
    width: 630px;
    height: 174px;
  }
  .form__item-description {
    padding: 10px 20px;
  }
}
@media (min-width: 1440px) {
  .form__feildset-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 568px);
    gap: 80px;
  }
  .form__input {
    width: 1220px;
  }
  .form__input--cat-info,
  .form__input--change-weght {
    width: 568px;
  }
  .form__list-wrapper {
    width: 1220px;
  }
  .form__list--add {
    display: flex;
    justify-content: space-between;
  }
  .form__list--info-user {
    display: grid;
    grid-template-columns: repeat(2, 568px);
    gap: 80px;
  }
  .form__link-wrapper {
    width: 829px;
  }
  .form__link {
    width: 568px;
  }
  .form__item {
    width: 1220px;
  }
}
.title {
  font-family: "Oswald", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}
.title--small {
  font-size: 24px;
  line-height: 26px;
}
.title--large {
  font-size: 24px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .item__photo {
    display: none;
  }
}
@media (min-width: 1440px) {
  .item__photo {
    display: none;
  }
}
.item-info__input {
  display: flex;
  flex-grow: 1;
}
.input-list__item {
  display: flex;
  margin-bottom: 13px;
}
/*# sourceMappingURL=style.css.map */
